# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.fleet

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular Compiled output
#/dist
client/tmp
client/out-tsc
client/bazel-out

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log

# Miscellaneous
client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings
client/dist

#laravel

# System files
.DS_Store
Thumbs.db

server/.phpunit.cache
server/node_modules
server/public/build
server/public/hot
server/public/storage
server/storage/*.key
server/vendor
server/.env
server/.env.backup
server/.env.production
server/.phpunit.result.cache
server/Homestead.json
server/Homestead.yaml
server/auth.json
server/npm-debug.log
server/yarn-error.log
