.content{
	position: relative;
	padding-top: 2.2%;
	padding-left: 1.6%;
	height: 100%;
}

.header {
	background-color: #145c96;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 5%;
	width: 100%;
}

.header_logo {
	position: relative;
	margin-top: .5%;
	margin-left: 50%;
	display: block;
}