

text{
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-stretch:normal;
	font-family:sans-serif;
	text-align:center;
	direction:ltr;
	//baseline-shift:baseline;
	text-anchor:middle;
	fill:#000000;
	fill-opacity:1;
	stroke:none;
	stroke-width:1;
	stroke-dasharray:none;
	user-select:none;
	pointer-events: none;
}

svg {
	border: 1px solid #aaa;
}
//xml:space="preserve"
//font-style:normal;
//font-variant:normal;
//font-weight:normal;
//font-stretch:normal;
//font-family:sans-serif;
//-inkscape-font-specification:sans-serif;
//text-align:center;
//direction:ltr;
//baseline-shift:baseline;
//text-anchor:middle;
//fill:#000000;fill-opacity:1;
//stroke:none;
//stroke-width:1;
//stroke-dasharray:none