#map{
	pointer-events: all;
	position:relative;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	max-width: 99%;
	max-height: 99%;
}

text{
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-stretch:normal;
	font-family:sans-serif;
	text-align:center;
	direction:ltr;
	//baseline-shift:baseline;
	text-anchor:middle;
	fill:#000000;
	fill-opacity:1;
	stroke:none;
	stroke-width:1;
	stroke-dasharray:none
}

//xml:space="preserve"
//font-style:normal;
//font-variant:normal;
//font-weight:normal;
//font-stretch:normal;
//font-family:sans-serif;
//-inkscape-font-specification:sans-serif;
//text-align:center;
//direction:ltr;
//baseline-shift:baseline;
//text-anchor:middle;
//fill:#000000;fill-opacity:1;
//stroke:none;
//stroke-width:1;
//stroke-dasharray:none