svg {
	position: relative;
	//border: 1px solid #aaa;
	fill: #7c7c7c;
	stroke: #ffffff;
	stroke-linecap:round;
	stroke-linejoin:round; 
	stroke-width:2;
	height: 90%;
	width: 100%;
}

tspan {
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
	text-anchor: middle;
	fill: #000000;
	stroke: none;
	stroke-width: 1;
	user-select: none;
	pointer-events: none;
}

.full-map-symbol:hover{
	stroke: #007a3d;
}

.background {
	z-index: 1;
	fill: red;
	height: 100%;
	width: 100%;
	pointer-events: all;
}

#normal_pin{
	position: relative;
	fill: blue;
}